<!doctype html PUBLIC "-//W3C//DTD HTML 4.0//EN">

<html lang="en">
  <head>
    <meta lang="en" http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <title>Hackers OO.o bugzilla gateway</title>
  </head>
  <body>
    <h1>Hackers OO.o bugzilla gateway</h1>

    <p>
       If you are not a hacker, please read about issues <a
       href="http://qa.openoffice.org/issue_handling/project_issues.html">here</a>
       and ensure you follow <a href="http://qa.openoffice.org/issue_handling/pre_submission.html">
       this</a> proceedure; <b>this is not intended as an end-user tool</b>.
       In order to assign the bug to a suitable person, try the <a href="hackers-guide.html#owner">
       owner</a> tool.
    </p>      

    <table border=0 cellspacing=20>
	<tr><th>Products</th><th>Toplevels</th><th>Languages</th><th>Code modules</th></tr>
	<tr>
	<td valign="top" align="left">
	    <table>
		<tr><td><a href="http://www.openoffice.org/issues/enter_bug.cgi?component=Spreadsheet">Calc</a></td></tr>
		<tr><td><a href="http://www.openoffice.org/issues/enter_bug.cgi?component=Chart">Chart</a></td></tr>
		<tr><td><a href="http://www.openoffice.org/issues/enter_bug.cgi?component=Database%20access">Database</a></td></tr>
		<tr><td><a href="http://www.openoffice.org/issues/enter_bug.cgi?component=Drawing">Drawing</a></td></tr>
		<tr><td><a href="http://www.openoffice.org/issues/enter_bug.cgi?component=Presentation">Impress</a></td></tr>
		<tr><td><a href="http://www.openoffice.org/issues/enter_bug.cgi?component=Formula%20editor">Math</a></td></tr>
		<tr><td><a href="http://www.openoffice.org/issues/enter_bug.cgi?component=Word%20processor">Writer</a></td></tr>
	    </table>
	</td>
	<td valign="top" align="left">
	    <table>
		<tr><th>component</th></tr>
		%% Toplevels %%
	    </table>
	</td>
	<td valign="top" align="left">
	    <table>
		%% All langs %%
	    </table>
	</td>
	<td valign="top" align="left">
	    <table>
		<tr><th>component</th><th>owner</th></tr>
		%% All modules %%
	    </table>
	</td>
    </table>
  </body>
</html>

